# Dependencias de Node.js (muy pesadas, se instalan con npm install)
node_modules/
npm-debug.log

# Build de producción de React
dist/

# Archivos compilados del Backend en C (se deben recompilar en el servidor)
build_cgi/
*.cgi
*.o
*.exe

# Archivos de sistema y editor
.DS_Store
Thumbs.db
.vscode/
.idea/